<ng-content selector="h2"></ng-content>
<table>
	<tr>
		<th *ngFor="let col of tableHeaderKeys">
			<ng-container 
				*ngTemplateOutlet="getTemplateRefOfHeaderBasedOnName(col) || defaultHeaderName">
			</ng-container>
			
			<ng-template #defaultHeaderName>
				{{ col }}
			</ng-template>
		</th>
	</tr>
	<tr *ngFor="let row of tableContent">
		<td *ngFor="let col of tableHeaderKeys">
			<ng-container
				*ngTemplateOutlet="
					getTemplateRefOfCellBasedOnName(col) || defaultCellName; 
					context: { $implicit: row }">
			</ng-container>
			
			<ng-template #defaultCellName>
				{{ row[col]}}
			</ng-template>			
		</td>
	</tr>
</table>
