<h1 appHighlight appTooltip="directives">Directives</h1>

<div class="wrap-content">
	<app-table 
		[tableHeaderKeys]="tableHeaderKeysSorted" 
		[tableContent]="tableContent">
		<h2>Table of Users</h2>
		<ng-container *ngFor="let key of Object.keys(preferredNamesOfTable)">
			<ng-template [appTableHeader]="key">
				{{ preferredNamesOfTable[key] }}
			</ng-template>
		</ng-container>
		<ng-template appTableCell="id" let-row>#{{ row.id }}</ng-template>
		<ng-template appTableCell="name" let-row>{{ row.name.toUpperCase() }}</ng-template>
		<ng-template appTableCell="age" let-row>{{ getFullYearsOldOfUser(row.dob) }}</ng-template>
		<ng-template appTableCell="fullName" let-row>{{ row.surname }} {{ row.name }}</ng-template>
	</app-table>
	<app-structural-directive></app-structural-directive>
	<app-attribute-directive appExample></app-attribute-directive>
</div>

<ng-template appTemplate></ng-template>
